body {
    background-color: black;
}

h1 {
    margin: 0;
}

#overlapping-div {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

/* Informacion de pokemones en pantalla*/
.poke-info {
    position: absolute;
    font-size: 32px;
    top: 15px;
    font-family: monospace;
}

#enemy-info {
    position: absolute;
    top: 15px;
    left: 100px;
}

.hp-bar #enemy-hp {
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#ally-info {
    position: absolute;
    top: 230px;
    left: 500px;
}

.hp-bar #ally-hp {
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.hp-bar {
    position: relative;
    width: 196px;
    height: 12px;
}

.hp-bar .default-hp {
    height: 12px;
    background-color: rgb(72, 64, 88);
}



.hp-bar div {
    background-color: rgb(88, 208, 128);
}

.xp-bar {
    position: relative;
    width: 256px;
    height: 8px;
    top: -32px;
    left: 128px;
}
.xp-bar #ally-xp {
    background-color: rgb(64, 200, 248);
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/*Barra inferior de ataques*/
.attack-bar {
    height: 193px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.attack-bar .buttons {
    width: 644px;
    height: 155px;
    margin-left: 20px;
    margin-top: 19px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.attack-bar .buttons .button {
    background-color: rgb(248, 248, 248);
    border: 0;
    cursor: pointer;
    font-size: 28px;
    font-family: monospace;
}

.attack-bar .buttons .button:hover {
    background-color: #ddd;
}

.attack-bar .attack-type {
    width: 308px;
    height: 155px;
    margin-left: 32px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}
